
<h1>Deseas poner un animalito en adopcion?</h1>
<br>
<div>
  <button (click)="toggleMostrarFormularioAdopcion()">Poner en Adopcion</button>
</div>

<div *ngIf="mostrarFormularioAdopcion">
  <form [formGroup]="donarMascotaForm" (ngSubmit)="enviarFormulario()">
    <input formControlName="Nombre" placeholder="nombre mascota" id="nombre-mascota" >
    <input formControlName="Raza" placeholder="raza mascota" id="raza-mascota" >
    <input formControlName="Edad" placeholder="edad mascota" id="edad-mascota" >
    <input formControlName="Contacto" placeholder="numero de contacto" id="nombre-mascota" >

    <button type="submit">Enviar Formulario</button>
  </form>


</div>

<h1>Lista animales en adopcion!</h1>
<div *ngFor="let mascota of mascotasEnAdopcion">
<h2>{{mascota.Nombre}} - {{mascota.Raza}} - {{mascota.Edad}} --- <a target="_blank" href="https://wa.me/{{mascota.Contacto}}">Contactar</a> </h2>

</div>