<h1>Aquí puedes donar tu alimento!</h1>

<div>
  <button class="button" (click)="toggleFormulario()">Donar alimento</button>
</div>

<div *ngIf="mostrarFormulario">
  <form [formGroup]="donarAlimentoForm">
    <label for="marca">Marca:</label>
    <input id="marca" formControlName="Marca" required>

    <label for="gramaje">Gramaje:</label>
    <input id="gramaje" formControlName="Gramaje" type="number" required>

    <label for="tipo">Cachorro o Adulto:</label>
    <input  id="tipo" formControlName="Tipo" required>

    <label title="recuerde que su numero de contacto es vital para encontrarse con la persona que necesite el alimento" for="numero">Numero de Contacto</label>
    <input id="numero" formControlName="Numero" required>

    <button type="button" (click)="donarAlimento()">Donar Alimento</button>
  </form>
</div>

<div>
  <h1>Alimento disponible</h1>

  <div *ngFor="let alimento of alimentosDisponibles">
    <h2>{{ alimento.Marca }} - {{ alimento.Gramaje }}g - {{ alimento.Tipo }} --- <a target="_blank" href="https://wa.me/{{alimento.Numero}}">Contactar</a> </h2>
  </div>
</div>
